/* NavFrame */

position: absolute;
width: 393px;
height: 49px;
left: 0px;
top: 0px;

background: #0C372C;


/* Frame 2 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 10px;
gap: 10px;

position: absolute;
width: 295px;
height: 52px;
left: 69px;
top: 6px;



/* Frame 3 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 299px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Navigation Bar */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 37px;
gap: 20px;

width: 299px;
height: 32px;

background: #0C372C;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Our Story */

width: 48px;
height: 11px;

font-family: 'Josefin Slab';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 11px;
/* identical to box height */
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* RSVP */

width: 27px;
height: 11px;

font-family: 'Josefin Slab';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 11px;
/* identical to box height */
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Registry */

width: 39px;
height: 11px;

font-family: 'Josefin Slab';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 11px;
/* identical to box height */
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Trip Planner */

width: 61px;
height: 11px;

font-family: 'Josefin Slab';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 11px;
/* identical to box height */
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Rectangle 1 */

position: absolute;
width: 393px;
height: 4px;
left: 0px;
top: 45px;



/* Rectangle 1 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
